* {
  box-sizing: border-box;
}
body {
  color: hsl(0, 0%, 81%);
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  background-color: hsl(210, 46%, 95%);
}
@media (min-width: 870px) {
  body {
    height: 100vh;
  }
}
p {
  margin: 0;
}
figure {
  margin: 0;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}
@media (min-width: 870px) {
  .main {
    padding: 40px 120px;
  }
}
.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 870px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
  box-shadow: 5px 5px 10px hsl(0, 0%, 81%);
}
.card--violet {
  background-color: hsl(263, 55%, 52%);
}
.card--grayish {
  background-color: hsl(217, 19%, 35%);
}
.card--blackish {
  background-color: hsl(219, 29%, 14%);
}
.card--White {
  background-color: hsl(0, 0%, 100%);
}
.card--1 {
  grid-area: 1 / 1 / 2 / 3;
}
.card--3 {
  grid-area: 1 / 4 / 3 / 5;
  color: hsl(219, 29%, 14%);
}
.card--4 {
  color: hsl(219, 29%, 14%);
}
.card--5 {
  grid-area: 2 / 2 / 3 / 4;
}
.card__quote {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 1;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__img-profile {
  border-radius: 50%;
  border: solid hsl(0, 0%, 81%);
}
.header__title,
.header__subtitle {
  margin: 0;
}
.header__title {
  font-weight: 600;
}
.header__subtitle {
  opacity: 50%;
}
.card__body {
  z-index: 1;
}
.card__body--big {
  font-weight: 600;
}
.card__body--small {
  opacity: 70%;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
}
.card:hover {
  transform: scale(1.02);
  transition: ease-in 0.3s;
}
